---
- name: Demo for remote_src
  hosts: TEST
  gather_facts: false
  become: true
  tasks:
    - name: Downloading a package from internet
      ansible.builtin.url:
        url: https://download.java.net/java/GA/jdk25.0.1/2fbf10d8c78e40bd87641c434705079d/8/GPL/openjdk-25.0.1_linux-x64_bin.tar.gz
        dest: /opt
    - name: To unarchive
      ansible.builtin.unarchive:
        src: /opt/openjdk-25.0.1_linux-x64_bin.tar.gz
        dest: /opt
        remote_src: true
    - namme: Setting Java_home ENV variable
      ansible.builtin.lineinfile:
        path: /etc/environment
        line: "export JAVA_HOME=/opt/jdk-25.0.1"
        state: present
