---
- name: Setting JAVA_HOME
  hosts: TEST
  gather_facts: false
  become: true
  vars:
    reqloc: "/opt"
    targzFileName: "{{ (url | split('/'))[-1] }}"
    reqJavaVer: "{{ ((targzFileName | split('_'))[0] | split('-'))[-1] }}"
    javaHomePath: "{{ reqloc }}/jdk-{{ reqJavaVer }}"
    targzFileNamePath: "{{ reqloc }}/{{ targzFileName }}"
  tasks:
    - name: Printing the values
      ansible.builtin.debug:
        msg:
          - "{{ reqloc }}"
          - "{{ url }}"
          - "{{ targzFileName }}"
          - "{{ reqJavaVer }}"
          - "{{ javaHomePath }}"
          - "{{ targzFileNamePath }}"
    - name: Downloading required tar.gz file
      ansible.builtin.get_url:
        url: "{{ url }}"
        dest: "{{ reqloc }}"
    - name: Extracting tar.gz file
      ansible.builtin.unarchive:
        src: "{{ targzFileNamePath }}"
        dest: "{{ reqloc }}"
    - name: Setting Java_home ENV variable
      ansible.builtin.lineinefile
        path: "/etc/environment"
        regex: "export JAVA_HOME={{ javaHomePath }}"
        state: present
    - name: Remove tar.gz file
      ansible.builtin.file:
        path: "{{ targzFileNamePath }}"
        state: absent
  