---
- name: demo for loop wih dict
  hosts: local
  gather_facts: false
  become: true
  vars:
    reqfile:
      config1:
        dir: "/tmp"
        mode: "0777"
      config.d1:
        dir: "/opt"
        mode: "0777"
      config.test1:
        dir: "/home/ansadmin"
        mode: "0777"
  tasks:
    - name: File creation
      ansible.builtin.file:
        path: "{{ item.value.dir }}/{{ item.key }}"
        state: present
        mode: "{{ item.value.mode }}"
      with_dict: "{{ reqfile }}"
