The value of "a" is {{a}}

The value of "b" is {{b}}

{% if a > b %}
Print {{a}} is greater
{% else %}
Print {{b}} is greater
{% endif %}

{% for eachchar in mystring %}
This is {{eachchar}}
{% endfor %}

{% for eachpkg in mylist %}
The Packages are {{eachpkg}}
{% endfor %}
